.banner{
    position: relative;
}

.banner__imagem{
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);
    width: 100%;
}

.banner__titulo{
    color: #f8f8f8f8;
    font-family: pacifico;
    font-size: 5.0625rem;
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform:translate(-50%, -50%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;


}